# Entornos virtuales
venv/
.env

# Archivos de configuración de VS Code
.vscode/

# __pycache__ y compilados
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/

# Archivos temporales
*.log
*.tmp

# Archivos de sistema
.DS_Store
Thumbs.db
